<html>
<head>
	<script type="text/javascript" src="./ui.js"></script>
	<script type="text/javascript" src="/data_variables.js"></script>
	<script type="text/javascript" src="/serpent.js"></script>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body onload="init_ui();" >
<div class="wrapper">
	<div class="data">
		<div class="data-key-area">
			<div class="info">Datos key:</div>
			<div class="info info-bit-number">0 bit</div>
			<textarea cols="100" rows="1" class="data-key"></textarea>
		</div>
		<div class="data-input-area">
			<div class="info">Datos:</div>
			<div class="info info-bit-number">0 bit</div>
			<textarea cols="100" rows="1" class="data-input"></textarea>
		</div>
		<div class="data-result-area">
			<div class="info">Resultado:</div>
			<div class="button button-swap-input-result"></div>
			<textarea cols="100" rows="1" class="data-result" readonly=true ></textarea>
		</div>
	</div>
	


	<div class="buttons">
		<div class="button button-start-algorithm">Cifrar</div>
		<div class="button button-set-mode">Modo: Encritación</div>
	</div>
	
</div>
</body>
</html>